:host {
  display: block;
  max-width: 500px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
